body
{
    background-color: #e6e6ff;
}
.wrapper
{
    width: 960px;
    margin: 0 auto;
    /*text-align: center;*/
}
.clearfix
{
    overflow: hidden;
}

.todogui
{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.title
{
    background-color: gray;
    border: red solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    font-size: 20px;
}
.desc
{
    background-color: gray;
    border: red solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 900px;
    height: 100px;
    font-size: 15px;
}
.date
{
    background-color: gray;
    border: red solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    font-size: 20px;
}
.btnadd
{
    background-color: gray;
    border: red solid 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    text-decoration: none;
    color: white;
    font-size: 12px
}
.mod
{
    float: left;
    display: inline-block;
}